/* Color theme: https://colorhunt.co/palette/ff6b6bffd93d6bcb774d96ff */

#app-wrapper {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
}

#keys {
	background: rgba(0, 0, 0, 0.5);
	color: #eee;
	font-size: 14px;
	padding: 5px;
}

.highlighted {
	color: #111;
	background: #ffd93d;
}

.selected {
	color: #111;
	background: #6bcb77;
}