/* Color theme: https://colorhunt.co/palette/f5ff8d50cb864c74c9312f44 */

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Nunito-Medium.ttf');
}

#app-wrapper {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
}

#keys {
	background: #fff;
	border: 1px solid #bbb;
	border-top-color: #999;
	border-radius: 8px;
	display: flex;
	align-items: center;
	padding: 4px 8px;
}

#keys span {
	color: #222;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Nunito', sans-serif;
}

#keys #matches {
	white-space: pre-wrap;
}

#keys #caret {
	font-size: 18px;
	animation: cursor-blink 1.4s steps(2) infinite;
}

#keys #count {
	color: #888;
	margin-left: 4px;
}

.highlighted {
	background: #f5ff8d;
	color: #222;
}

.highlighted.selected {
	background: #50cb86;
}

@keyframes cursor-blink {
	0% {
    	opacity: 0;
	  }
}