/* Color theme: https://colorhunt.co/palette/ff6b6bffd93d6bcb774d96ff */

#app-wrapper {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
}

#keys {
	background: #fff;
	border: 1px solid #888;
	border-radius: 4px;
	display: flex;
	align-items: center;
	color: #111;
	font-size: 14px;
	padding: 10px;
}

#caret {
	font-size: 18px;
}

.highlighted {
	color: #111;
	background: #ffd93d;
}

.selected {
	color: #111;
	background: #6bcb77;
}